<!-- Modal -->
<div class="modal fade " id="modalUpdCarroussel{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-black">
      <div class="modal-header bg-gold black">
        <h5 class="modal-title" id="exampleModalLabel">Gestion Articles</h5>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span class="honey" aria-hidden="false">&times;</span>
        </button>
      </div>

      <form action="/carroussel/edit/{{_id}}?_method=PUT" method="post" enctype="multipart/form-data">

        {{!-- image selecteur --}}
        <div class="file">
          <label class="file-label">
            <img style="width:150px;height:150px" src="{{image}}" alt="">
            <img style="width:150px;height:150px" src="{{image}}" alt="">
            <img style="width:150px;height:150px" src="{{image}}" alt="">
            <input type='hidden' name='addFirstImg' value='addFirstImg'>
            <input class="file-input" type="file" name="image" multiple required>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choisir une image
              </span>
            </span>
          </label>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link"> Enregistrer</button>
          </div>
        </div>

      </form>
      {{!-- boutton de suppresion relier au controler Articledelete --}}
      <form action="/carroussel/delete/{{_id}}" method="get" enctype="multipart/form-data">
        <div class="control">
          <button type="submit" class="button is text">Supprimer</button>
        </div>
      </form>
      <div class="modal-footer bg-gold">
        <button type="button" class="btn bg-black honey" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn bg-honey">Save changes</button> --}}
      </div>

    </div>
  </div>
</div>



<!-- Modal -->

<!--  ===================================================================  -->