<!-- image artivle id -->


<div class="container mt-9vh  ">
    <div class="row">
        <div class=" col-lg-12 col-md-12 col-sm-12 bg-black">
            <img class="w-100 pt-3 img-ID" src="{{ articleID.image}}" alt="">
            <a href="/gallerie">
                <h3 class="text-center  mb-n3 p-2">{{ articleID.title}}</h3>
            </a>
            <p class="text-center mt-3">Description : {{articleID.content}}</p>
            <p> Publié par : {{ articleID.author}}</p>
            <p class="text-right p-2"> Le : {{articleID.dateCreateDB}}</p>
        </div>
    </div>
</div>
{{!-- <div class="container mt-10 mb-0">

</div>
<div class="container mt-5 ">

    <div class="container bg-black">

    </div>
</div> --}}


<!-- image artivle id fin -->