<!-- Modal -->
<div class="modal fade " id="openMail{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-black">
      <div class="modal-header bg-gold black">
        <h5 class="modal-title" id="exampleModalLabel">Messagerie</h5>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span class="honey" aria-hidden="false">&times;</span>
        </button>
      </div>

     
        <div class="field">
          <label class="label">Name : {{name}}</label>
        </div>
        <div class="field">
          <label class="label">Sujet : {{sujet}}</label>
        </div>
         <div class="field">
          <label class="label">Sujet : {{email}}</label>
        </div>
        <div class="field">
          <div class="control">
            <textarea class="textarea" name="message">{{message}}</textarea>
          </div>
        </div>  
      <div class="modal-footer bg-gold">
        <button type="button" class="btn bg-black honey" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn bg-honey">Save changes</button> --}}
      </div>

    </div>
  </div>
</div>